<nav class="navbar navbar-expand-lg ">
  <div class="container">
    <a href="#" class="navbar-brand responsive">
      <!-- Logo Image -->
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Emblem_of_India.svg/320px-Emblem_of_India.svg.png" width="70" alt="" class="align-right mr-2">
      <!-- Logo Text -->
      <span class="text-uppercase font-weight-bold text-dark">Government Of India</span>

    </a>
  </div>
  <div class="a">
     <P align=right>सत्यमेव जयते | </P>
    </div>
    <div id="mySidenav" class="sidenav">
      <a routerLink="/login"  id="admin"><i class="fa  fa-user-circle-o"></i>Admin Login</a>
      <a href="#" id="user"><i class="fa fa-users"></i>User Login</a>
      <a href="#" id="about"><i class="fa fa-book"></i>About</a>
    </div>
    </nav>

