<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/cone.png" alt="Angular Carousel 1">
    </div>

  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/ctwo.png" alt="Angular Carousel 2">
    </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/images/cthree.png" alt="Angular Carousel 2">
        </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/images/cfour.png" alt="Angular Carousel 2">
            </div>
              </ng-template>
</ngb-carousel>
